#!/bin/sh
exec 2>&1
umask 077
exec chpst -P -U <%= @options[:username] %>:<%= @options[:groupname] %> -u <%= @options[:username] %>:<%= @options[:groupname] %> /opt/gitlab/embedded/bin/pgbouncer <%= File.join(@options[:data_directory], "pgbouncer.ini") %>
